<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <ul>
      <% products.forEach(function(product) { %>
      <li>
        <strong><%= product.name %></strong>
        <p><%= product.price %> dt</p>
        <ul>
          <% users.map(function(user) { %>
          <li>
            <em
              >username: <%= user.uid == product.userId ? user.name : '' %></em
            >
          </li>
          <% }); %>
        </ul>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
